
input, button, select {
    font-size: 2vh;
    width: 80%;
    padding: 0;
}

/*select {
    width: 100%;
}*/

.main_block {
    width: 45vh;
    max-width: 90%;
    font-size: 2vh;
    margin: auto;
    border: 1px solid red;
    padding: 5vh;
}

